DATABASE_URL=postgres://postgres:yash@localhost:5432/shorty
CORS_ORIGINS=http://localhost:5173,https://yourdomain.com
JWT_SECRET=super-secret-dev-key
JWT_EXPIRES_IN_SECONDS=900
SESSION_EXPIRES_IN_SECONDS=604800
PORT=3000
REDIS_URL=redis://localhost:6379
IP_HASH_SALT=ssstfsdyusadfuysafdsaudashdhasvdhasvdshvsadhvsa
# DATABASE_URL=postgresql://neondb_owner:npg_9si2kxfnLmya@ep-billowing-smoke-ahxop44m.c-3.us-east-1.aws.neon.tech/Shorty?sslmode=require&channel_binding=require
