NODE_ENV=development
PORT=3000

JWT_SECRET=super-secret-dev-key
JWT_EXPIRES_IN_SECONDS=900
SESSION_EXPIRES_IN_SECONDS=604800

DATABASE_URL=postgres://postgres:yash@localhost:5432/shorty
PG_POOL_MAX=20

REDIS_URL=redis://127.0.0.1:6379

LOGIN_RATE_LIMIT_WINDOW=900
LOGIN_RATE_LIMIT_MAX=5

CORS_ORIGINS=http://localhost:5173,https://yourdomain.com
IP_HASH_SALT=ssstfsdyusadfuysafdsaudashdhasvdhasvdshvsadhvsa
COOKIE_DOMAIN=localhost